<div class="DreamAlbum-editor-context-item-label flex-container flexnowrap">
    <span class="drag-handle menu-handle">&#9776;</span>
    <div class="DreamAlbum_editor_context_item_name flexGrow overflow-hidden"></div>
    <div class="DreamAlbum-editor-context-item-actions flex-container flexnowrap">
        <span class="DreamAlbum-editor-context-item-type" title="Context item type"></span>
        <span class="DreamAlbum-editor-context-item-role is-hidden" title="Context item role"></span>
        <label class="checkbox flex-container DreamAlbum-toggler">
            <input type="checkbox" name="DreamAlbum_context_item_disable" class="disable_DreamAlbum" />
            <span class="DreamAlbum-toggle-on fa-solid fa-toggle-on" title="Disable item"></span>
            <span class="DreamAlbum-toggle-off fa-solid fa-toggle-off" title="Enable item"></span>
        </label>
        <div class="edit_context_item menu_button" title="Edit item">
            <i class="fa-solid fa-pencil"></i>
        </div>
        <div class="delete_context_item menu_button" title="Delete item">
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</div>